<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Demo.Master" extends="Demo.Base" patch:after="configuration[@name='Demo.Base']">
          <predicate>
            <include name="Layout.Placeholder" database="master" path="/sitecore/layout/Placeholder Settings" />
            <include name="Layout.Layouts" database="master" path="/sitecore/layout/Layouts" />
            <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings" />
            <include name="Templates.Instant" database="master" path="/sitecore/templates/MyProject" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>